<div class="authentication-wrapper authentication-cover bg-gradient h-100">
    <div class="authentication-inner row m-0">

        <div class="col-lg-6 d-flex align-items-center justify-content-center p-sm-5 p-5">
            <div>
                <img src="assets/img/logo/ibs-logo.png" alt="ISCAM Busnesse school" srcset="" width="100%">
            </div>
        </div>
        <div class="col-lg-6 authentication-bg d-flex align-items-center justify-content-center p-sm-5 p-5">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
<script src="../public/assets/js/main.js"></script>

