
<form [formGroup]="myForm" (ngSubmit)="modifiermotdepasse($event)">
    <div class="card mb-4" *ngIf="isme">
        <div class="card-body">
            <h4>Modifier le mot de passe</h4>
            <div class="mb-3">
                <label for="basic-default-fullname">Mot de passe actuel <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="ancien" placeholder="Mot de passe actuel" 
                    formControlName="ancienmotdepasse"
                    [class.is-invalid]="myForm.get('ancienmotdepasse')?.invalid && myForm.get('ancienmotdepasse')?.touched || messageErreur"/>
                <div class="text-danger" *ngIf="messageErreur">{{ messageErreur }}</div>
                <div *ngIf="myForm.get('ancienmotdepasse')?.invalid && myForm.get('ancienmotdepasse')?.touched" class="text-danger">
                    Ce champ est requise.
                </div>
            </div>
            <div class="mb-3">
                <label for="basic-default-company">Nouveau mot de passe <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="nouveau" placeholder="Nouveau mot de passe"
                    formControlName="motdepasse"
                    [class.is-invalid]="myForm.get('motdepasse')?.invalid && myForm.get('motdepasse')?.touched"/>
                <div *ngIf="myForm.get('motdepasse')?.invalid && myForm.get('motdepasse')?.touched" class="text-danger">
                    Ce champ est requise.
                </div>
            </div>
            <div class="mb-3">
                <label for="basic-default-company">Confirmation du mot de passe <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="confirmer" placeholder="Confirmation du mot de passe" 
                    (input)="confirmerMotDePasse($event)" 
                    formControlName="password"
                    [class.is-invalid]="myForm.get('password')?.invalid && myForm.get('password')?.touched || message || messageConfirme"
                />
                <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="text-danger">
                    Ce champ est requise.
                </div>
                <div class="text-danger" *ngIf="message">{{ message }}</div>
                <div class="text-danger" *ngIf="messageConfirme">{{ messageConfirme }}</div>
            </div>
        </div>

        <div class="card-footer demo-inline-spacing">
            <button type="submit" class="btn btn-primary {{disabled}}">Modifier</button>
            <a [routerLink]="['/profil/'+idUtilisateur]" class="btn btn-outline-secondary">Annuler</a>
        </div>
    </div>
</form> 


<form [formGroup]="myFormInfo" (ngSubmit)="modifierinformation()">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5 ms-4">
                    <h4>Modifier mon information personnelle</h4>
                    <div class="mb-3">
                        <label for="basic-default-fullname">Nom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nom" value="{{profil.nom}}" required
                        formControlName="nom"/>
                    </div>
                    <div class="mb-3">
                        <label for="basic-default-company">Prénom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="prenom" value="{{profil.prenom}}" required
                        formControlName="prenom"/>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h4>Informations supplémentaires</h4>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Entité <span class="text-danger">*</span></label>
                        <select formControlName="entiteId" class="form-select" data-live-search="true" (change)="changeOccur($event)"
                            [class.is-invalid]="myFormInfo.get('entiteId')?.invalid && myFormInfo.get('entiteId')?.touched">
                            <option hidden>Entité</option>
                            <option *ngFor="let entites of entite" [value]="entites.id">
                                {{ entites.nom }}
                            </option>
                        </select>
                        <div *ngIf="myFormInfo.get('entiteId')?.invalid && myFormInfo.get('entiteId')?.touched" class="text-danger">
                        L'entité est requise.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Direction <span class="text-danger">*</span></label>
                        <select formControlName="directionId" class="form-select" data-live-search="true"
                            [class.is-invalid]="myFormInfo.get('directionId')?.invalid && myFormInfo.get('directionId')?.touched">
                            <option hidden>Direction</option>
                            <option *ngFor="let code of codeFiltrer" [value]="code.id">
                                {{ code.description }} ({{ code.numero }})
                            </option>
                        </select>
                        <div *ngIf="myFormInfo.get('directionId')?.invalid && myFormInfo.get('directionId')?.touched" class="text-danger">
                        La direction est requise.
                        </div>
                    </div> 
                </div>
            </div> 
                
            <div class="card-footer demo-inline-spacing">
                <button type="submit" class="btn btn-primary">Modifier</button>
                <a [routerLink]="['/profil/'+idUtilisateur]" class="btn btn-outline-secondary">Annuler</a>
            </div>
        </div>
    </div>
</form>


