
<div class="container align-items-center justify-content-center">
  <div class="row justify-content-center m-t-30 m-0">
    <div class="col-3"></div>
    <div class="col-6">
      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>Choisir une salle</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <mat-selection-list #shoes2 [multiple]="false">
            <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
              {{ shoe }}
            </mat-list-option>
          </mat-selection-list>

          <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded">
            Salle choisit:
            {{
              shoes2.selectedOptions.hasValue()
                ? shoes2.selectedOptions.selected[0].value
                : "None"
            }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-3"></div>
  </div>
</div>

