
<div class="container align-items-center justify-content-center mt-5">
  <div class="row justify-content-center m-t-30 m-0">
    <div class="col-3"></div>
    <div class="col-6">
      <mat-card class="b-1 shadow-none">
        <mat-card-header class="mb-2">
          <mat-card-title>Choisir une salle</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <mat-selection-list #shoes2 [multiple]="false">
            <mat-list-option *ngFor="let shoe of listeSalle" [value]="shoe">
              {{ shoe.nom }}
            </mat-list-option>
          </mat-selection-list>

          <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded mb-4">
            Salle choisit:
            {{
              shoes2.selectedOptions.hasValue()
                ? shoes2.selectedOptions.selected[0].value
                : "None"
            }}
          </p>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-center m-4 mt-0">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            matTooltip="Sauvgarder ce salle"
            class="w-100"
          >
            Enregistrer
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-3"></div>
  </div>
</div>

