<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Profit & Expenses -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title>
            <div class="mb-2">Taux d'absence / Taux de présence</div>
            <p class="mb-0 small text-muted" *ngIf="selectedClasseTaux || selectedNiveauTaux">{{ selectedNiveauTaux }} / {{ selectedClasseTaux }}
              <i-tabler name="X" class="cursor-pointer" (click)="clearSelection()"></i-tabler>
            </p>
          </mat-card-title>
            <div class="m-l-auto">

            <button
              mat-flat-button
              [matMenuTriggerFor]="menuNiv"
              matTooltip="Niveau"
            >
              <i-tabler name="align-justified"></i-tabler>
            </button>
            <mat-menu #menuNiv="matMenu" xPosition="before">
              <button mat-menu-item *ngFor="let item of niveauItems" (click)="onNiveauSelectTaux(item)">
                <span>{{ item.nom }}</span>
              </button>
            </mat-menu>

            <button
              mat-flat-button
              [matMenuTriggerFor]="classeMenu2"
              matTooltip="Classe"
            >
              <i-tabler name="briefcase"></i-tabler>
            </button>
            <mat-menu #classeMenu2="matMenu" xPosition="before">
              <button mat-menu-item *ngFor="let item of filteredClasseItems" (click)="onClassSelectTaux(item)">
                <span>{{ item.classe }}</span>
              </button>
            </mat-menu>

            <mat-form-field appearance="outline">
              <mat-label>Mois / Année</mat-label>
              <div class="d-flex">
                <input matInput type="month" [(ngModel)]="monthYear" (ngModelChange)="onMonthChange($event)"/>
                <mat-icon (click)="clearMonthYearTaux()" class="cursor-pointer" *ngIf="monthYear">
                  <i-tabler name="X" class="m-0"></i-tabler>
                </mat-icon>
              </div>
            </mat-form-field>

          </div>
        </div>
        <apx-chart
          [series]="profitExpanceChart.series"
          [dataLabels]="profitExpanceChart.dataLabels"
          [chart]="profitExpanceChart.chart"
          [legend]="profitExpanceChart.legend"
          [xaxis]="profitExpanceChart.xaxis"
          [yaxis]="profitExpanceChart.yaxis"
          [grid]="profitExpanceChart.grid"
          [stroke]="profitExpanceChart.stroke"
          [tooltip]="profitExpanceChart.tooltip"
          [plotOptions]="profitExpanceChart.plotOptions"
          [tooltip]="salesChart.tooltip"
          ></apx-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- end Profit & Expenses -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-4">
    <div class="row">
      
      <!-- --------------------------------------------------------------------------- -->
      <!-- Product Sales -->
      <!-- --------------------------------------------------------------------------- -->
      <div class="col-lg-12 col-sm-6">
        <mat-card class="cardWithShadow overflow-hidden">
          <mat-card-header class="d-flex w-100 p-x-24">
            <mat-card-title>
              <div class="fs-4 mb-2">Total nombre absent</div>
              <p class="mb-3 small text-muted">
                {{ selectedClasseName }}
                <i-tabler *ngIf="selectedClasseName" name="X" class="cursor-pointer" (click)="clearSelectedClasse()"></i-tabler>
              </p>
              <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <div class="d-flex">
                  <input matInput type="date" [value]="selectedDate" (change)="onDateChange($event)"/>
                  <mat-icon (click)="clearDateTotal()" class="cursor-pointer" *ngIf="selectedDate">
                    <i-tabler name="X" class="m-0"></i-tabler>
                  </mat-icon>
                </div>
              </mat-form-field>
            </mat-card-title>

            <div class="m-l-auto d-flex flex-column align-items-center">
              <button mat-fab color="warn" class="shadow-none icon-48 mb-3">
                <i-tabler
                  name="user-x"
                  class="text-white d-flex"
                ></i-tabler>
              </button>
              <button
                mat-flat-button
                [matMenuTriggerFor]="classeMenu"
                matTooltip="Classe"
                class="mb-2"
              >
                <i-tabler name="briefcase"></i-tabler>
              </button>
              <mat-menu #classeMenu="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let item of classeItems" (click)="onSelectClasse(item)">
                  <span>{{ item.classe }}</span>
                </button>
              </mat-menu>

            </div>
          </mat-card-header>
          <mat-card-content class="m-b-32 p-x-24 p-y-16">
            <h4 class="display-1 m-0">{{ totalAbsence }}</h4>
            <div class="d-flex align-items-center">
              <div class="mat-body-1">étudiants</div>
            </div>
          </mat-card-content>
          <apx-chart
            [series]="salesChart.series"
            [dataLabels]="salesChart.dataLabels"
            [chart]="salesChart.chart"
            [legend]="salesChart.legend"
            [colors]="salesChart.colors"
            [stroke]="salesChart.stroke"
            [tooltip]="salesChart.tooltip"
            [plotOptions]="salesChart.plotOptions"
            [responsive]="salesChart.responsive"
          ></apx-chart>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex mb-0">
          <mat-card-title>Liste des étudiants absent</mat-card-title>
          <div class="row m-l-auto">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Recherche nom ou prénom</mat-label>
                <mat-chip-grid #chipGrid aria-label="nom etudiant">
                  <mat-chip-row
                    *ngFor="let item of searchs"
                    (removed)="remove(item)"
                    [editable]="true"
                    [aria-description]="'press enter to edit ' + item.name" class="f-s-14"
                  >
                    {{ item.name }}
                    <button
                      matChipRemove
                      [attr.aria-label]="'remove ' + item.name"
                    >
                      <mat-icon>
                        <i-tabler name="X"></i-tabler>
                      </mat-icon>
                    </button>
                  </mat-chip-row>
                  <input
                    placeholder="Autre recherche..."
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-grid>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mois / Année</mat-label>
                <div class="d-flex">
                  <input matInput type="month" [value]="selectedMonthYearListAbsent" (change)="onMonthChangeTotalH($event)"/>
                  <mat-icon (click)="clearMonthYearList()" class="cursor-pointer" *ngIf="selectedMonthYearListAbsent">
                    <i-tabler name="X" class="m-0"></i-tabler>
                  </mat-icon>
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="table-responsive m-t-16">
          <table mat-table [dataSource]="dataSource" class="w-100 table-borderless">

            <ng-container matColumnDef="etu">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Etudiant
              </th>
              <td mat-cell *matCellDef="let element" style="width: 40%;">
                <div class="d-flex align-items-center">
                  <img [src]="element.photo" alt="profile pic" width="10%" class="rounded-circle" />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-14 f-w-700">{{ element.prenom }}</h6>
                    <h6 class="mat-subtitle-1 f-s-12 f-w-500">{{ element.nom }}</h6>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="classe">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Classe
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <span class="mat-body-1 f-s-14">{{ element.classe }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="matiere">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Matière
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <span class="mat-body-1 f-s-14">{{ element.matiere }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="totalH">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Total d'heure d'absence
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <span class="mat-body-1 f-s-14">{{ element.totalHeureAbsence }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="malus">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Malus
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <span class="mat-body-1 f-s-14">{{ element.malus }} points</span>
                  </div>
                </div>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div> 
</div>

