<div class="blank-layout-container justify-content-center align-items-center"
  style="
  background-image: url(./assets/images/backgrounds/bg-login2.png);
  background-size: cover;
  background-repeat: no-repeat;
  "  
>
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >

    <div class="col-lg-6 ms-auto d-flex align-items-center p-5">
      <div class="w-100 text-lg-start text-center p-5" style="color: #00314F;">
          <h1 class="display-1 fw-bold">Bienvenue!</h1>
          <p class="f-w-32">L’Institut Supérieur de la Communication, des Affaires et du Management (ISCAM) est le premier établissement entièrement privé d’enseignement supérieur à Madagascar. Habilité par l'Etat Malgache, l'Institut a intégré le système LMD en 2006. Depuis, nous avons pour vision de devenir l'une des meilleures écoles de Management en Afrique.</p>
      </div>
    </div>
    
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
          <div class="text-center">
            <h2>Login</h2>
          </div>
            <form class="m-t-30" id="formAuthentication" [formGroup]="myForm" (ngSubmit)="login()">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Username</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput 
                formControlName="identifiant"/>
              </mat-form-field>
              <!-- password -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Password</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" 
                formControlName="password"/>
              </mat-form-field>

              <mat-chip *ngIf="message" class="f-s-14" classe="d-flex w-100" style="background-color: #fa896b;">{{message}}</mat-chip>
              
              <button mat-flat-button style="background-color: #00314F; color: white;" class="w-100 mt-3" type="submit">Sign in</button>

              <!-- input -->
            </form>

          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>
