<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Avant
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="setDateMinDateMax()"
        >
          Aujourd'hui
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Après
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Mois
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Semaine
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Jour
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      aria-hidden="false" aria-modal="true"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      aria-hidden="false" aria-modal="true"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      aria-hidden="false" aria-modal="true"
    >
    </mwl-calendar-day-view>
  </div>
  
  <br /><br /><br />
  
  <ng-template #modalContent let-close="close">
    <div class="modal-header m-3 mt-0">
      <h5 class="modal-title">Détail du cours</h5>
      <!-- <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body m-3 mt-2 mb-2">
      <div>
        <pre>Matière: {{ modalData?.event?.detail?.matiere }}</pre>
        <pre>Classe: {{ modalData?.event?.detail?.classe }}</pre>
        <pre>Salle: {{ modalData?.event?.detail?.salle }}</pre>
        <pre>Enseignat: {{ modalData?.event?.detail?.enseignant }}</pre>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center m-3 mb-0">
          <button 
            class="btn btn-secondary" 
            [disabled]="estCoursDans48heures(modalData?.event)"
            style="background-color: #fa896b; color: white; border-color: #fa896b;"
          >
            Annulé ce cours
          </button>
          <button class="btn btn-primary" style="background-color: #0085db; border-color: #0085db;">Fiche de présence</button>
        </div>
  </ng-template>
  