/* You can add global styles to this file, and also import other style files */
.red-form-elements label,
.red-form-elements input,
.red-form-elements select,
.red-form-elements textarea,
.red-form-elements input[type="radio"] + label,
.red-form-elements input[type="checkbox"] + label,
.red-form-elements input[type="file"] {
  color: red;  /* Change label text color to red */
}

.red-form-elements input,
.red-form-elements select,
.red-form-elements textarea,
.red-form-elements input[type="radio"],
.red-form-elements input[type="checkbox"],
.red-form-elements input[type="file"] {
  border: 1px solid red; /* Change border color to red */
}


/* Adjusting for radio and checkbox styles */
.red-form-elements input[type="radio"],
.red-form-elements input[type="checkbox"] {
  outline: 1px solid red; /* Red outline for radio and checkbox */
}

.red-form-elements input[type="file"] {
  border: none; /* Typically, file inputs don't have a visible border */
  color: red;   /* Change text color to red */
}

.red-text {
    color: red; /* Change text color to red */
}