<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  
  <div class="btn-group">
    <button mat-icon-button aria-label="Notifications"
      type="button"
      class="dropdown-toggle" 
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i-tabler class="d-flex" name="bell" [matBadge]="count" matBadgeColor="primary"></i-tabler>
    </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li class="dropdown-item d-flex overflow-hidden" *ngFor="let stat of notification" (click)="redirifer(stat.idEdt!)">
          <div class="time text-right mat-subtitle-1 f-s-14 align-items-center">
            {{ stat.date }} <br>
            {{formatTime(stat.debut!) }} - {{formatTime(stat.fin!) }}
          </div>
          <div class="point d-flex align-items-center">
            <span class="timeline-badge border-primary m-y-8"></span>
            <span class="timeline-border d-block"></span>
          </div>
          <div class="desc">
            <span class="mat-subtitle-1 f-s-14 lh-20">{{ stat.contenue }}</span>
            <span class="mat-subtitle-1 f-s-14 lh-20 f-w-600 d-block">{{ stat.matiere }}</span>
          </div>
        </li>
      </ul>
      
  </div>

  <span class="flex-1-auto"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications" class="m-l-10"
  >
    <img
      src="/assets/images/profile/user-1.jpg"
      class="rounded-circle object-cover"
      width="35"
    />
  </button>
  <mat-menu #profilemenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >{{nom}}
    </button>

    <div class="p-x-12 m-t-12">
      <a
        (click)="logout()"
        mat-flat-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
