<!-- <div class="col-lg-6">
    <mat-card class="b-1 shadow-none">
      <mat-card-header>
        <mat-card-title>List with single Selection</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <mat-selection-list #shoes2 [multiple]="false">
          <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
            {{ shoe }}
          </mat-list-option>
        </mat-selection-list>

        <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded">
          Option selected:
          {{
            shoes2.selectedOptions.hasValue()
              ? shoes2.selectedOptions.selected[0].value
              : "None"
          }}
        </p>
      </mat-card-content>
    </mat-card>
</div> -->
